@charset "UTF-8";
@font-face {
    font-family: minhaFonte;
    src: url(../images/Love.otf);
}

* { margin: 0px;
    padding: 0px; }

body, html{
    width: 100vw;
    height: 100vh;
    position: relative; }

main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329) ;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); }

section#inicio{
    display: block;
}

#nome {
    position: absolute;
    font-family: minhaFonte;
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
    opacity: 1;
    top: 35px;
    left: 102px;
}

nav {
    position: absolute;
    top: 100px;
    left: 330px;
}

.redes{
    z-index: 2;
    position: relative;
    top: -9px;
    left: 26px;
    height: 26px;
    padding-top: 14px;
}
div#bloco{
position: absolute;
top: 96px;
left: 348px;
    display: inline;
    z-index: 1;
    opacity: 0.4;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
height: 130px;
width: 48px;
}

div#temas{
    position: absolute;
    display: inline-block;
}
.clima{
    position: relative;
    top: 60px;
    left: 357px;
    padding-bottom: 146px;
    height: 26px;
    width: 26px;
}

#img{
    display: inline-block;
    height: 796px;
    width: 414px;
    background-image: url(../images/back.jpeg);
    background-size:cover ;
    background-position: center bottom;
} 

section#meio{
 background-color: rgb(255, 255, 255);
}
#img2{
    position: relative;
    max-width: 414px;
    background-image: url(../images/back.jpeg);
    background-size:cover ;
    background-position: top top;
    opacity: 0.2;
}
#puxar{
    position: absolute;
    top: 830px;
}
section#meio h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bolder;
}
section#meio p {
    padding:10px;
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

section#meio .links{
    color: rgb(0, 0, 0);
}

